.el-carousel__container{
  max-width:1440px;
  height:auto;
  margin:0 auto;
}

.el-carousel__arrow i{
  font-size:32px;
}

.el-collapse-item__content{
  .collapse-item{
    &.-actived{
      font-weight: bold;
      color:#fff;
    }
  }
}

@media screen and (max-width: 767px) {
  .el-carousel__arrow i{
    font-size:24px;
  }

  .el-carousel{
    .img-banner__content{
      width:80%;
    }
  }
}