html,
body {
  margin: 0 0;
  padding: 0 0;
  font-family: 'Noto Sans CJK TC';
  -ms-overflow-style: none;
  font-size: 15px;
  color: #fff;
  background-color: #050608;
}

input,
select,
a,
button {
  outline: none;
  text-decoration: none;
  border: none;
}


/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .3s;
}

.fade-transform-enter {
  opacity: 0;
  // transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  // transform: translateX(30px);
}