@font-face {
  font-family: 'Noto Sans CJK TC';
  src: url('../assets/font/NotoSansCJKtc-Regular.otf') format('opentype');
}

html,
body {
  margin: 0 0;
  padding: 0 0;
  font-family: 'Noto Sans CJK TC';
  -ms-overflow-style: none;
  font-size: 15px;
  color: #fff;
  background-color: #050608;
  padding-right: 0 !important;
}

input,
select,
a,
button {
  outline: none;
  text-decoration: none;
  border: none;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.3s;
}

.fade-transform-enter {
  opacity: 0;
  // transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  // transform: translateX(30px);
}

// fdb-dialog
.fbd-dialog.el-dialog {
  background: #181d28;
  color: #ffffff;
  border-radius: 6px;
  .el-dialog__header {
    text-align: center;
    .el-dialog__title {
      color: #ffffff;
    }
  }
  .el-dialog__body {
    color: #ffffff;
  }
  .el-dialog__footer {
    display: flex;
    align-content: center;
    justify-content: center;
  }
}

// button
.fdb-btn-default {
  color: #fff;
  display: inline-block;
  line-height: 30px;
  border: 1px solid;
  border-color: #62ffff;
  padding: 0px 40px;
  border-radius: 6px;
  cursor: pointer;
  /*540-320*/
  @media screen and (min-width: 300px) and (max-width: 749px) {
    padding: 0px 22px;
  }
}

.fdb-btn-primary {
  color: #fff;
  display: inline-block;
  line-height: 30px;
  background: linear-gradient(180deg, #62ffff 9.47%, #3ea9cc 100%);
  padding: 0px 40px;
  border-radius: 6px;
  cursor: pointer;
  /*540-320*/
  @media screen and (min-width: 300px) and (max-width: 749px) {
    padding: 0px 22px;
  }
}

// date-picker
.fdb.el-date-editor {
  background-color: #1e2433;
  border-color: #1e2433;
  .el-range-input {
    background-color: #1e2433;
    color: #cccccc;
  }
  .el-range-separator {
    color: #cccccc;
  }
}

// text color
.text {
  &-green {
    color: #05d394;
  }
  &-red {
    color: #df6475;
  }
}

// status 狀態小圓圈
.status {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
  &.yet {
    background-color: #eb5757;
  }
  &.progress {
    background-color: #ffc107;
  }
  &.already {
    background-color: #27ae60;
  }
}
