/*共用*/
/* @font-face {
  font-family:'Noto Sans CJK TC';
  src: url("../font/NotoSansCJKtc-Regular.otf") format("opentype");
} */

html,body{margin:0 0;padding:0 0;font-family:'Noto Sans CJK TC';-ms-overflow-style: none;font-size:15px;color:#fff;background-color:#050608;}
body::-webkit-scrollbar {display: none;}
img{width:100%;height:auto;}
input,select,a,button{outline:none;text-decoration:none;border:none;}
.outline{width:100%;height:auto;float:left;}
.outblock{width:1347px;height:auto;display:block;margin:0 auto;}
::-webkit-scrollbar {width: 10px;height: 10px;} 
::-webkit-scrollbar-thumb {background: rgba(90, 90, 90,0.5);}
::-webkit-scrollbar-track {background: rgba(0, 0, 0, 0.2);}

.line-bg{width:100%;height:auto;float:left;background-image:url(../img/background.png);background-repeat:no-repeat;background-size:cover;}

#activity,#chat{display:none;}

/*Header*/
.header-block{width:calc(100% - 110px);height:60px;padding:0 55px;float: left;background-color:black;}
.logo{width:auto;height:auto;float: left;position: relative;transform:translateY(-50%);top:50%;}
.menu-block{width:auto;height:60px;float: left;line-height:60px;letter-spacing:0.1em;position: relative;transform:translateX(-50%);left:50%;}
.menu-block>a{width:auto;height:auto;float: left;margin-right:45px;color:#CCCCCC;}
.menu-block>a:hover{width:auto;height:auto;float: left;margin-right:45px;color:#fff;}
.menu-block>a:active{width:auto;height:auto;float: left;margin-right:45px;color:#fff;}
.menu-block>a.active{width:auto;height:auto;float: left;margin-right:45px;color:#fff;}
.menu-block>a:nth-last-child(1){margin-right:0px;}
.header-sub-block{width:auto;height:auto;float:right;}
.header-sub-block>a{width:auto;height:auto;float: left;margin-right:25px;color:#fff;line-height:60px;}
.header-sub-block>a:nth-last-child(1){margin-right:0px;margin-left:25px;}
.header-sub-block>a:nth-last-child(1)>span{float:right;position: relative;margin-top:10px;margin-left:5px;}

.header-sub-block>a.register{width:auto;line-height:30px;height:auto;float: left;margin-right:25px;color:#FFF;border:1px solid;border-image: linear-gradient(180deg, #62FFFF 0%, #3EA9CC 100%) 1;padding:0px 22px;border-radius: 6px;
position: relative;transform:translateY(50%);top:50%;background-color:black;clip-path: inset(0 round 7px);}
.header-sub-block>div{width:0.5px;height:20px;margin:20px 0;float: left;background-color:#fff;}



/*手機版header*/
.mobile-ham{width:auto;height:auto;float:right;margin-right:20px;position: relative;transform:translateY(-50%);top:50%;display:none;}
.mobile-drop{width:100%;height:auto;float:left;background-color:rgba(27,33,46,0.95);position:absolute;margin-top:60px;z-index:2;display:none;padding:30px 0;}
.mobile-drop>div{width:100%;height:auto;float:left;}
.mobile-drop>div>a{width:100%;height:auto;float:left;margin-bottom:25px;font-size:20px;color:white;text-align:center;padding-bottom:15px;}
.mobile-drop>div>a:nth-last-child(1){margin-bottom:0px;}


/*Header*/

/*Fixed*/
.fixed-right{width:70px;height:auto;float:right;position:fixed; right:45px;bottom:160px;z-index:2;}
.fixed-right>svg{display:block;width:100%;height:auto;}
.fixed-socail-icon{width:50px;height:50px;display:block;margin:0 auto 15px auto;background-color:white;border-radius:500px;}
.fixed-socail-icon>img{width:65%;height:auto;display:block;margin:0 auto;position: relative;transform:translateY(-50%);top:50%;}
.fixed-socail-icon:nth-last-child(1){margin-bottom:20px;}
#fixed-btn{cursor: pointer;}
/*Fixes*/

/*Banner*/

.banner-block{width:100%;height:100vh;float:left;background-size: 100%;background-image: url(../img/index-banner-00.jpg);background-repeat: no-repeat;background-position: center;}
.banner-block>div.outblock{margin-top:50px;}
.banner-block>div>div.title{width:100%;height:auto;float:left;text-align:center;margin-bottom:18px;font-size:48px;color:white;font-weight:bold;}
.banner-block>div>div.sub{width:100%;height:auto;float:left;text-align:center;margin-bottom:18px;font-size:16px;color:white;margin-bottom:32px;}
.banner-block>div>div.outline>a.more{width:152px;height:auto;padding:8.5px 0;font-size:14px;display:block;margin:0 auto; border-radius: 8px;color:white;text-align:center;background-image: linear-gradient(to top, #62ffff, #3ea9cc);}

/* external css: flickity.css */


.carousel {width:100%;height:auto;float:left;
}

.carousel-cell {
  width:100%;
  height:100vh;
  counter-increment: gallery-cell;}

/* cell number */
.carousel-cell:before {
  display:none;
  text-align: center;
  content: counter(gallery-cell);
    }



/*Banner*/

/*Join*/
.join-step-block{width:1401px;height:214px;background: rgba(0,0,0,0.5);border-radius: 6px;box-shadow:0 4px 9px rgba(0,0,0,0.3);margin:-170px auto 0 auto;padding:43px 45px;margin-bottom:115px;position:relative;}
.join-step-title{width:auto;height:calc(100% - 90px);float: left;font-size:50px;font-weight:bold;padding:45px 0;margin-right:53px;color:white;}
.join-step-main-block{width:auto;height:100%;float: left;}
.join-step-main-block>div{width:296px;height:auto;margin-right:10px;float: left;}
.join-step-main-block>div:nth-last-child(1){margin-right:0px;}
.join-step-number{width:auto;height:auto;float: left;font-size:48px;font-weight:bold;font-family:'Raleway';position:absolute;margin-left:20px;color:#62FFFF;}
.join-step-main{width:calc(100% - 50px);height:155px;background:#1B212E;border-radius: 8px;float: left;margin-top:35px;padding:50px 25px 0 25px;}
.join-step-main>div.title{width:100%;height:auto;float: left;font-size:24px;margin-bottom:6px;font-weight:bold;color:white;}
.join-step-main>div.info{width:100%;height:auto;float: left;font-size:16px;color:#E5E5E5;}
/*Join*/

/*info*/
.info-outline{margin-bottom:115px;}
.info-main-pic{width:50%;max-width:555px;height:auto;float: left;margin-right:50px;margin-top:-155px;}
.info-main-title{width:100%;height:auto;float:left;}
.info-main-title>div{width:calc(50% - 20px);height:auto;float:right;}
.info-main-title>div>div.title{width:100%;height:auto;float: left;font-weight:bold;font-size:48px;color:white;}
.info-main-title>div>div.sub{width:100%;height:auto;float: left;font-weight:bold;font-size:16px;color: #E5E5E5;margin-bottom:30px;}
.info-main{width:calc(50% - 50px);height:auto;float:right;}
.info-main>div.main{width:100%;height:auto;float: left;}
.info-main>div.main>div{width:calc(50% - 7.5px);height:auto;min-height:179px;float:left;margin-right:15px;margin-bottom:15px;border-style:solid;border-width:2px;border-image:linear-gradient(180deg, #62FFFF 0%, #3EA9CC 100%) 1;
box-sizing: border-box;padding:40px 20px 40px 20px;cursor:pointer;clip-path: inset(0 round 7px);}
.info-main>div.main>div:hover{background-image: linear-gradient(to top, #3ea9cc, #62ffff);}
.info-main>div.main>div.active{background-image: linear-gradient(to top, #3ea9cc, #62ffff);}


.info-main>div.main>div:nth-last-child(1){margin-right:0px;margin-bottom:30px;}
.info-main>div.main>div:nth-last-child(2){margin-bottom:30px;}
.info-main>div.main>div:nth-last-child(3){margin-right:0px;}
.info-main>div.main>div>div.title{width:100%;height:auto;float:left;font-size:24px;margin-bottom:15px;color:white;}
.info-main>div.main>div>div.sub{width:100%;height:auto;float:left;font-size:15px;color: #E5E5E5;}
.info-btn{width:100%;height:auto;float: left;font-size:24px;font-weight:bold;color: #62FFFF;line-height:22px;}
.info-btn>svg{position:relative;transform:translateY(10%);}
.info-slider{width:40%;height:9px;float: left;padding:0 30%;margin-top:10px;}
.info-slider>div{width:calc(25% - 9px);height:100%;float:left;border-radius:100px;margin:0 4.5px;background: rgba(204, 204, 204, 0.5);}
.info-slider>div:active{background: #62FFFF;}
.info-slider>div.active{background: #62FFFF;}

/*info*/


/*News*/
.news-outline{margin-bottom:100px;}
.news-title{width:100%;height:auto;float:left;font-size:48px;margin-bottom:30px;text-align:center;font-weight:bold;color:white;}
.news-title.about{font-size:36px;}
.news-main{width:100%;max-width:397px;height:438px;float:left;margin:0 10px;background: #151923;border-radius: 8px;
padding:16px;margin-bottom:20px;}
.news-main:nth-last-child(1){margin-right:0px;}
.news-main>div.pic{width:100%;height:240px;float: left;border-radius: 8px;margin-bottom:15px;}
.news-main>div.pic>img{width:100%;height:auto;}
.news-main>div.sign-block{width:100%;height:auto;float: left;margin-bottom:15px;}
.news-main>div.sign-block>div{width:90px;height: 20px;float: left;text-align:center;line-height:20px;font-size:14px;color:#fff;background: rgba(98, 255, 255, 0.7);border-radius:500px;}
.news-main>div.main{width:100%;height:auto;float: left;font-size:24px;margin-bottom:15px;color:white;}
.news-main>div.date{width:100%;height:auto;float: left;font-size:16px;color: #CCCCCC;}
/*News*/

/*Footer*/
footer{width:calc(100% - 94px);height:auto;float:left;padding:10px 47px 0 47px;}
footer>div:nth-last-child(2){width:100%;height:auto;float: left;padding-bottom:10px;border-bottom:1px solid #fff;}
footer>div:nth-last-child(1){padding-top:20px;}
.copy-right{width:auto;height:auto;float: left;line-height:75px;color:white;}
.footer-logo{width:auto;height:auto;float:right;margin-top:20px;}
/*Footer*/



/*Register*/
.register-bg{width:100%;height:100vh;float:left;}
.register-kv-block{width:60%;height:100vh;float: left;background:url(../img/register-bg.png) no-repeat;background-position:center 50px;background-size: cover;}
.register-kv-block>a.logo{width:auto;height:auto;float: left;position:absolute;margin:0 0 0 95px;top:80px;}
.register-main-block{width:40%;height:100vh;float: right;}
.register-main-block>div.main{width:75%;height:auto;display:block;margin:0 auto;position: relative;top:7%;}
.register-main-block>div.main>div.title{width:100%;height:auto;float: left;font-size:30px;font-weight:700;margin-bottom:19px;}
.register-main{width:100%;height:66px;float: left;margin-bottom:12px;}
.register-main>div.title{width:100%;height:auto;float: left;font-size:16px;color:#fff;margin-bottom:5px;}
.register-main>input.input{width:100%;height:42px;float: left;font-size:16px;color:#c4c4c4;border:none;background:#252c3d;box-sizing: border-box;border-radius: 8px;padding-left:10px;}
.register-main>input.check{width:20px;height:20px;float:left;margin-right:9px;border:none;background:#252c3d;box-sizing: border-box;border-radius: 2px;}
.register-main>div.check-title{width:auto;height:auto;float: left;font-size:16px;font-weight:normal;margin-bottom:32px;}
.register-main-btn{width:100%;height:44px;float: left; background-image: linear-gradient(to top, #62ffff, #3ea9cc);;border-radius:500px;line-height:44px;text-align:center;color:white;font-size:20px;}
.register-main-tips{width:100%;height:auto;float: left;margin-top:20px;font-size:16px;text-align: center;}
.register-main-tips>span{color:lightblue;}
/*Register*/

footer{margin-top:100px;}
footer>div>div.logo{margin-top:35px;}